@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    margin: 0;
    font-size: 16px;
    background: #F8F5F0;
    scroll-behavior: smooth;
    scroll-behavior: smooth;
    padding-top: 2%;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
    --df-width:min(1200px,90vw)
}
header{
    padding-bottom: 2%;
    width: var(--df-width);
    margin: 0;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    font-family: "Share Tech", serif;
}
header .logo img{
    width: 4em;
    border-radius: 50%;
    margin: 2%;
}
.logo{
    display: flex;
}
.logo-text{
  font-family: "Share Tech", serif;
}
header .logo-text{
    display: grid;
    padding-left: 2%;
    
}
nav a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #CEAA5B;
}
nav{
    background: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.banner{
    height: 100vh;
    text-align: center;
}
.banner h1{
    background-color: #333333;
    padding-top: 5%;
    color: #fff;
    font-family: "Sixtyfour", serif;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #CEAA5B,
      0 0 82px #CEAA5B,
      0 0 92px #CEAA5B,
      0 0 102px #CEAA5B,
      0 0 151px #CEAA5B;
}
.Images{
    display: flex;
    padding-top: 5%;
    align-items: center;
    background-color: #333333;
}
.Images:hover .item:not(:hover){
    filter: grayscale(1) blur(5px);
    transition: ease;
}
.item:hover .dialog-box {
    opacity: 1;
    visibility: visible;
}
.dialog-box {
   position: absolute;
   top: 30%; /* Position below the image */
   left: 50%;
   transform: translateX(-50%);
   background-color: rgba(0, 0, 0, 0.8);
   color: white;
   padding: 10px 15px;
   border-radius: 5px;
   white-space: nowrap;
   opacity: 0; /* Hidden by default */
   visibility: hidden;
   transition: opacity 0.3s ease, visibility 0.3s ease;
   z-index: 2;
}
.dialog-box::before {
  content: "";
  position: absolute;
  top: -5px;
  left: 50%;
  transform: translateX(-50%);
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent rgba(0, 0, 0, 0.8) transparent;
}
#Products{
    height: 100vh;
    background-size: cover;
    display: grid;
    background-color: #CEAA5B;
}
#Products h1{
  text-align: center;
}
.container{
  display: flex;
  overflow-x: scroll;
  justify-content: space-evenly;
}
.cards{
  padding: 2%;
  border-radius: 25px;
  margin-right: 3%;
  margin-left: 3%;
  background-color: rgba(0, 0, 0, 0.3);
  max-height: 90vh;
}
.content{
  text-align: center;
}
.content img{
  margin-bottom: 4%;
}
.content h1{
  margin-bottom: 2%;
}
.content p{
  margin-bottom: 4%;
}
.btn{
  background-color: aqua;
  padding: 5%;
  border-radius: 25px;
}
.btn a{
  text-decoration: none;
  color:#333333;
  font-family: 'Times New Roman', Times, serif;
  font-weight:bold;
}
#About{
  min-height: 100vh;
  text-align: center;
}
.something{
  text-align: center;
  padding-top: 2%;
}
.something h1{
  font-size: 2.5em;
}
.vision{
  width: 80%;
  background-color:#ceaa5b76;
  padding: 2%;
  border-radius: 25px;
  margin: 0 auto;
  margin-top:2%;
}
.vision p{
  margin-top: 1%;
}
.mission{
  width: 80%;
  background-color:#ceaa5b76;
  padding: 2%;
  border-radius: 25px;
  margin: 0 auto;
  margin-top:2%;
}
.mission p{
  margin-top:1%
}
.founder{
  width: 90%;
  margin: 0 auto;
  margin-top: 2%;
}
.clients .container{
  margin-top: 2%;
}
.clients{
  margin-top: 2%;
}
#Contact{
  height: 100vh;
  align-content: center;
  display: inline-block;
  background-image: linear-gradient(to right, #CEAA5B 50%, #fff 50%);
}
form{
  display: grid;
  width: 70vw;
  margin: 0 auto;
  text-align: center;
  margin-left: 20%;
  padding: 10%;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2);
  background-color: #fff;
}
label {
  display: block;
  margin-bottom: 8px;
  color: #555;
}

input, textarea, button {
  width: 100%;
  padding: 10px;
  margin-bottom: 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

button {
  background-color: #007BFF;
  color: white;
  border: none;
  cursor: pointer;
}

button:hover {
  background-color: #0056b3;
}

textarea {
  resize: none;
}
