@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Lato:wght@300&display=swap');

body{
    margin: 0;
    font-size: 16px;
    background: #F8F5F0;
    scroll-behavior: smooth;
    padding-top: 2%;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
}
:root{
    --df-width:min(1200px,90vw)
}
header{
    padding-bottom: 2%;
    width: var(--df-width);
    margin: 0;
    height: 70px;
    display: flex;
    justify-content:space-between;
    align-items: center;
    position: relative;
    z-index: 1;
    font-family: "Share Tech", serif;
}

header .logo img{
    width: 4em;
    border-radius: 50%;
    margin: 2%;
}
.logo{
    display: flex;
}
.logo-text{
  font-family: "Share Tech", serif;
}
header .logo-text{
    display: grid;
    padding-left: 2%;
    
}
nav a{
    text-decoration: none;
    padding-left: 20px;
    padding-right: 20px;
    color: #CEAA5B;
}
nav{
    background: #333333;
    padding-top: 10px;
    padding-bottom: 10px;
    border-radius: 10px;
}
.crousal{
    height: 93.5vh;
    text-align: center;
    align-items: center;
    background-color: #333333;
}
.crousal h1{
    padding-top: 4%;
    color: #fff;
    font-family: "Sixtyfour", serif;
    text-shadow:
      0 0 7px #fff,
      0 0 10px #fff,
      0 0 21px #fff,
      0 0 42px #CEAA5B,
      0 0 82px #CEAA5B,
      0 0 92px #CEAA5B,
      0 0 102px #CEAA5B,
      0 0 151px #CEAA5B;
}
.crousal img{
    padding-top: 3%;
    align-items: center;
}
#About{
    height: 100vh;
    background-image: url(/images/ecomAbout.jpg);
    background-size: cover;
}
.container{
    padding: 2%;
}
.content{
    padding: 3%;
    background-color: rgb(255, 255, 255 ,0.65);
    border-radius: 30px;
    margin-top: 1%;
    
}
.content p{
    padding: 1%;
    font-size: large;
}
.content li{
    padding-left: 2%;
}
.container h2{
    font-size: 2em;
    font-weight:900;
    background-color: #ffffff82;
}
.container h3{
    font-size: 1.75em;
}
ul{
    list-style-type: none;
}
button{
    padding: 1%;
    border-radius: 25px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background-color: #cacaca;
}
#MedicalImpo{
    height: 140vh;
    background-image: url(/images/ecomAyur.jpg);
    background-size: cover;
}
.cards{
    display:flex;
    padding: 2%;
}
.card{
    border-radius: 25px;
    
    display: grid;
    margin: 1%;
    background-color: rgb(255, 255, 255, 0.5);
}
.card-cont{
    padding: 4%;
    justify-items: center;
    text-align: center;
    
}
.card-cont :not(h3, a){
    line-height: 2;
}
.card-cont h4{
    font-size: 1.3em;
    padding-top: 2%;
}
.card-cont img{
    border-radius: 20px;
    margin-bottom: 20px;
    object-fit:cover;
    padding-top: 6%;
}
.card-cont a{
    text-decoration: none;
    background-color: #5af805;
    padding: 1%;
    color: black;
    font-size: 1.1em;
}
.state{
    width: 200px;
}
.product{
    margin-top: 3%;
    padding: 2%;
    border-radius: 10px;
}
